@import './base/reset.scss';
@import '../../../components/nav/nav.scss';
@import '../../../components/home/home.scss';
@import '../../../components/button/button.scss';
@import '../../../components/about/about.scss';


.container {
    padding: 0 100px;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-72 {
    font-size: 72px;
}