.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 200px;
    padding-top: 200px;
    gap: 10px;
    
    &__image {
      position: relative;
      margin: 100px 0;
   }
    &__image_main {
      border-radius: 140px 0px;
      display: block;
      height: auto;
  }  
    &__image_overlay {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
    opacity: 0.5;
    height: auto;
  }

  &__image_dots {
    position: absolute;
    top: 830px;
    left: -30px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    width: 500px;
  }

&__text_tagline {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #646464;
}

&__text_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #212121;
}

&__text_description {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #646464;
}
}
.position {
    top: 30px;
    left: 30px;
}
