/* Box sizing rules */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; /* sets the default font-size to 10px */
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ol, ul {
  list-style: none;
}

/* Remove table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset font styles */
html {
  font-family: sans-serif;
  font-size: 100%;
}

/* Remove borders, outlines, and text decoration */
a, button, input, textarea, select {
  border: none;
  outline: none;
  text-decoration: none;
}

/* Reset button styles */
button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

/* Remove background color for range inputs */
input[type=range] {
  background: transparent;
}

/* Remove autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0px 1000px #fff;
  -webkit-text-fill-color: inherit !important;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo-image {
  width: auto;
  height: auto;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  padding: 10px;
  border: 5px solid #ffffff;
}
.nav__menu ul li:hover {
  border: 5px solid #37806B;
  border-radius: 20px;
}
.nav__menu ul li:hover a {
  color: #37806B;
}
.nav__menu ul li a {
  color: rgb(0, 0, 0);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.nav__menu ul li a:hover {
  color: #37806B;
}

.progress-bar {
  position: fixed;
  top: 95px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #37806B;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0;
}

.home__text {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home__image {
  position: relative;
}

.home__image-main {
  border-radius: 140px 0px;
  display: block;
  height: auto;
}

.home__image-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: -1;
  opacity: 0.5;
  height: auto;
}

.home__image_dots {
  position: absolute;
  top: 800px;
  left: 30px;
  z-index: -1;
  opacity: 0.5;
  height: auto;
}

.button {
  display: inline;
  white-space: nowrap;
}

.button--small {
  font-size: 0.875rem;
  padding: 8px 16px;
}

.button--large {
  width: 150px;
  font-size: 1.125rem;
  padding: 12px 24px;
}

.button--beige {
  background-color: #CAA892;
}

.button--green {
  background-color: #37806B;
}

.button__text--white {
  color: #ffffff;
}

.button__corner {
  border-radius: 20px 0px;
}

.button__corner--small {
  border-radius: 15px 0px;
}

.project__button {
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: 5px solid #37806B;
  background-color: #ffffff;
  color: #37806B;
}

.project__button.button--active {
  background-color: #37806B;
  color: #ffffff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 200px;
  padding-top: 200px;
  gap: 10px;
}
.about__image {
  position: relative;
  margin: 100px 0;
}
.about__image_main {
  border-radius: 140px 0px;
  display: block;
  height: auto;
}
.about__image_overlay {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  opacity: 0.5;
  height: auto;
}
.about__image_dots {
  position: absolute;
  top: 830px;
  left: -30px;
}
.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px;
  width: 500px;
}
.about__text_tagline {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
.about__text_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #212121;
}
.about__text_description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

.position {
  top: 30px;
  left: 30px;
}

.project {
  padding: 100px 0;
  position: relative;
}
.project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.project__card_design {
  width: auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 60px 0px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
}
.project__card_architecture {
  width: auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 60px 0px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  background-color: #CAA892;
}
.project__card_planning {
  width: auto;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 60px 0px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
}
.project__card_image {
  width: auto;
  height: 45px;
  margin: 33px 40px;
}
.project__card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project__text_tagline {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #646464;
}
.project__text_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
  color: #212121;
}
.project__image_dots {
  position: absolute;
  top: 500px;
  right: -130px;
  z-index: -1;
  opacity: 0.5;
  height: auto;
}

.blog__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.blog__carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.blog__carousel-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  margin-right: 10px;
  text-align: center;
}

.blog__carousel-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.blog__carousel-button-prev {
  right: 70px;
  top: 10px;
}

.blog__carousel-button-next {
  right: 10px;
  top: 10px;
}/*# sourceMappingURL=main.css.map */